%h1
  Welcome to #{APP_NAME}.

- if current_user.present?
  %p= link_to "Logout", logout_path, class: 'btn btn-danger'
- else
  %p= link_to "Login", "/auth/#{Settings.provider}", class: 'btn btn-primary'

%br

- if current_user.blank?
  = form_tag send_access_token_path do
    .form-group
      = label_tag :email, 'Email address'
      = text_field_tag :email, nil, size: 50, class: 'form-control', type: 'email'

    = submit_tag 'Send', data: { disable_with: 'Send' }, class: 'btn btn-primary'
