
<h1>Editing Group</h1>

<%= form_for( :group, url: { action: "update", id: @group.id } ) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, size: "50px" %>
  </div>

  <div class="field">
    <%= f.radio_button :permission , "private" %><%= f.label :permission_private, "Private" %>
    <%= f.radio_button :permission , "group" %><%= f.label :permission_group, "Group" %>
    <%= f.radio_button :permission , "public" %><%= f.label :permission_public, "Public" %>
  </div>

  <div class="actions">
    <%= f.submit t( "menu.update", default: "update" ), "data-disable-with" => t( "menu.update", default: "update" ) %>
  </div>
<% end %>

<br />

<%= link_to t( "menu.show" ), action: "show", id: @group.id %>
<%#= link_to t( "menu.list" ), action: "index" %>

<br />
<br />

<%= link_to t( "menu.top" ), controller: "users", action: "library", id: @group.user_id, anchor: "group_#{@group.id}" %>
