
<h1>Listing groups</h1>

<%# グループ作成フォーム %>
<%= form_for( :group, url: { action: "create" } ) do |f| %>

  <span class="field">
    <%= f.label "Group" %>：<%= f.text_field :name %>
  </span>

  <span class="actions">
    <%= f.submit "Add", "data-disable-with" => "Add" %>
  </span>
<% end %>

<br />

<table>
  <tr>
    <th>Name</th>
    <th>Edit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each{ |group| %>
  <%= form_for( group, url: { action: "update", id: group.id } ) do |f| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit( "Update", "data-disable-with" => "Update" ) %></td>
    <td><%= link_to( t( "menu.edit" ), { action: "edit", id: group.id } ) %></td>
    <td><%= link_to( t( "menu.destroy" ), { action: "destroy", id: group.id }, data: { confirm: "「#{group.name}」を削除します。よろしいですか？(紐付くPageも削除されます。)" } ) %></td>
  </tr>
  <% end %>
<% } %>
</table>

<br />
<br />

<%= link_to( t( "menu.top", default: "Top" ), :root ) %>
