
<br />

<div class="row">
  <% if @user.id == session[:user_id] %>
    <%# グループ作成フォーム %>
    <%= form_for( :group, url: { action: "create_group" }, html:  { class: "well form-search span4 offset4" } ) do |f| %>

      <%= f.label "Group" %>
      <%= f.text_field :name, class: "input-medium search-query" %>

      <%= f.submit "Add", class: "btn", "data-disable-with" => "Add" %>
    <% end %>
  <% end %>
</div>

<ul class="nav nav-tabs nav-stacked">
<% @groups.each{ |group| %>
  <li class="row span6 offset3"><%= link_to( group.name, "#group_#{group.id}" ) %></li>
<% } %>
</ul>

<% @groups.each{ |group| %>
<% if group.permission_ok?( session[:user_id] ) %>
<span id="group_<%= group.id %>"></span>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row span6 offset3">
  <ul class="breadcrumb" id="group_<%#= group.id %>">
    <li>
      <h2 style="display: inline;"><%= link_to( group.name, controller: "pages", group_id: group.id ) %></h2>
      <% if group.is_owner?( session[:user_id] ) %>
        <%= link_to( "E", { controller: "groups", action: "edit", id: group.id } ) %>
        <%= link_to( "M", { controller: "groups", action: "members", id: group.id } ) %>
        <%= link_to( "D", { action: "delete_group", id: group.id }, data: { confirm: "「#{group.name}」を削除します。よろしいですか？(紐付くPageも削除されます。)" } ) %></td>
        <%= link_to( "+", { controller: "pages", action: "new", group_id: group.id }, target: "_blank" ) %>
      <% end %>
      <span class="rage_<%= group.permission %>">[<%= group.permission %>]</span>
    </li>
  </ul>
</div>

<ul class="nav nav-tabs nav-stacked">
  <li class="row span6 offset3"><%= link_to( "リスト1", "" ) %></li>
  <li class="row span6 offset3"><%= link_to( "リスト2", "" ) %></li>
  <li class="row span6 offset3"><%= link_to( "リスト3", "" ) %></li>
</ul>
<% end %>
<% } %>

<br />
<br />

<%= link_to_unless( @user.image.blank?, image_tag( @user.image, size: "20x20" ), "https://twitter.com/#!/#{@user.screen_name}", target: "_blank", title: @user.screen_name ) %>
：<%= @user.screen_name %>

<br />
<br />

<%# グループ一覧 %>
<% @groups.each{ |group| %>
<% if group.permission_ok?( session[:user_id] ) %>
<ul id="group_<%#= group.id %>">
  <%# グループ名 %>
  <li>
    <h2 style="display: inline;"><%= link_to( group.name, controller: "pages", group_id: group.id ) %></h2>
    <% if group.is_owner?( session[:user_id] ) %>
      <%= link_to( "E", { controller: "groups", action: "edit", id: group.id } ) %>
      <%= link_to( "M", { controller: "groups", action: "members", id: group.id } ) %>
      <%= link_to( "D", { action: "delete_group", id: group.id }, data: { confirm: "「#{group.name}」を削除します。よろしいですか？(紐付くPageも削除されます。)" } ) %></td>
      <%= link_to( "+", { controller: "pages", action: "new", group_id: group.id }, target: "_blank" ) %>
    <% end %>
    <span class="rage_<%= group.permission %>">[<%= group.permission %>]</span>
    <br /><br />
  </li>

  <ul>
    <%# ページ一覧 %>
    <% group.pages.each{ |page| %>
      <% if page.permission_ok?( session[:user_id], group ) %>
      <li>
        <span class="rage_<%= page.permission %>">[<%= page.permission %>]</span>
        <%= link_to( page.title, controller: "pages", action: "show", id: page.id ) %>
        <%= link_to( "C", controller: "pages", action: "content", id: page.id ) %>

        <% if page.edit_ok?( session[:user_id], group ) %>
          <%= link_to( "E", controller: "pages", action: "edit", id: page.id ) %>
        <% end %>

        <% if page.is_owner?( session[:user_id] ) %>
          <%= link_to( "D", { controller: "pages", action: "destroy", id: page.id }, data: { confirm: "「#{page.title}」を削除します。よろしいですか？" } ) %>
        <% end %>
      </li>
      <% end %>
    <% } %>
  </ul>
</ul>
<br />
<% end %>
<% } %>

<br />
<br />

<%= link_to t( "menu.top", default: "Top" ), :root %>

