
<br />

<ul class="nav nav-tabs nav-stacked">

<%# グループページ内リンク一覧 %>
<% @groups.each{ |group| %>
  <% if group.permission_ok?( session[:user_id] ) %>
    <li class="row span6 offset3"><%= link_to( group.name, "#group_#{group.id}" ) %></li>
  <% end %>
<% } %>
</ul>

<%# グループ一覧 %>
<% @groups.each{ |group| %>
<% if group.permission_ok?( session[:user_id] ) %>
<span id="group_<%= group.id %>"></span>

<div class="row span8 offset2" style="padding: 70px 0px 0px 0px;">
  <ul class="breadcrumb" id="group_<%#= group.id %>">
    <li>
      <h2 style="display: inline;"><%= link_to( group.name, controller: "pages", group_id: group.id ) %></h2>
      <% if group.permission == "group" %>
        <%= link_to( "M", { controller: "groups", action: "members", id: group.id } ) %>
      <% end %>
      <span class="rage_<%= group.permission %>">[<%= group.permission %>]</span>
    </li>
  </ul>
</div>

<ul class="nav nav-tabs nav-stacked">
  <%# ページ一覧 %>
  <% group.pages.each{ |page| %>
    <% if page.permission_ok?( session[:user_id], group ) %>
      <li class="row span8 offset2" style="padding: 10px 0px 10px 0px;">
        <%# Permission表示 %>
        <span class="rage_<%= page.permission %>">[<%= page.permission.slice(0..2) %>]</span>
        <%= link_to( page.title, { controller: "pages", action: "show", id: page.id }, style: "display: inline;", title: "Show" ) %>
        <%= link_to( "C", { controller: "pages", action: "content", id: page.id }, style: "display: inline;", title: "Content" ) %>

        <% if page.permission == "group" and page.edit_ok?( session[:user_id], group ) %>
          <%= link_to( "E", { controller: "pages", action: "edit", id: page.id }, style: "display: inline;", title: "Edit" ) %>
        <% end %>
      </li>
    <% end %>
  <% } %>
</ul>
<% end %>
<% } %>

<br />
<br />

<%= link_to t( "menu.top", default: "Top" ), :root %>

