
<br />

<% if @user.id == session[:user_id] %>
  <%# グループ作成フォーム %>
  <%= form_for( :group, url: { action: "create_group" } ) do |f| %>

    <span class="field">
      <%= f.label "Group" %>：<%= f.text_field :name %>
    </span>

    <span class="actions">
      <%= f.submit "Add", "data-disable-with" => "Add" %>
    </span>
  <% end %>

  <br />
<% end %>

<%# グループページ内リンク %>
<% @groups.each{ |group| %>
  <p><%= link_to( group.name, "#group_#{group.id}" ) %></p>
<% } %>

<br />
<br />

<%= link_to_unless( @user.image.blank?, image_tag( @user.image, size: "20x20" ), "https://twitter.com/#!/#{@user.screen_name}", target: "_blank", title: @user.screen_name ) %>
：<%= @user.screen_name %>

<br />
<br />

<%# グループ一覧 %>
<% @groups.each{ |group| %>
<% if group.permission_ok?( session[:user_id] ) %>
<ul id="group_<%= group.id %>">
  <%# グループ名 %>
  <li>
    <h2 style="display: inline;"><%= link_to( group.name, controller: "pages", group_id: group.id ) %></h2>
    <% if group.is_owner?( session[:user_id] ) %><%= link_to( "+", { controller: "pages", action: "new", group_id: group.id }, target: "_blank" ) %><% end %>
    <% if group.is_owner?( session[:user_id] ) %><%= link_to( "E", { controller: "groups", action: "edit", id: group.id } ) %><% end %>
    <span class="rage_<%= group.permission %>">[<%= group.permission %>]</span>
    <br /><br />
  </li>

  <ul>
    <%# ページ一覧 %>
    <% group.pages.each{ |page| %>
      <% if page.permission_ok?( session[:user_id], group ) %>
      <li>
        <span class="rage_<%= page.permission %>">[<%= page.permission %>]</span>
        <%= link_to( page.title, controller: "pages", action: "show", id: page.id ) %>
        <%= link_to( "C", controller: "pages", action: "content", id: page.id ) %>
        <% if group.is_owner?( session[:user_id] ) %>
          <%= link_to( "E", controller: "pages", action: "edit", id: page.id ) %>
          <%= link_to( "D", { controller: "pages", action: "destroy", id: page.id }, data: { confirm: "「#{page.title}」を削除します。よろしいですか？" } ) %>
        <% end %>
      </li>
      <% end %>
    <% } %>
  </ul>
</ul>
<% end %>
<br />
<% } %>

<br />
<br />

<%= link_to t( "menu.top", default: "Top" ), :root %>
