<!DOCTYPE html>
<html>

<head>
  <title><%= APP_NAME %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= "Created #{@page.created_at.strftime("%Y/%m/%d")}, Updated #{@page.updated_at.strftime("%Y/%m/%d")}" %>

<hr />

<%= raw show_markdown( @page.content ) %>

<hr />

<br />

<%= link_to "UserLibrary", controller: "users", action: "library", id: @page.user_id, anchor: "group_#{@page.group_id}" %>

<br />
<br />
<br />

</body>

</html>
