
<h1><%= @group.name %> Listing Pages</h1>

<table>
  <tr>
    <th>User</th>
    <th>Group</th>
    <th>Title</th>
    <th></th>
    <% if @group.is_owner?( session[:user_id] ) %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @pages.each{ |page| %>
  <tr>
    <td align="center"><%= link_to_unless( page.user.try(:image).blank?, image_tag( page.user.try(:image), size: "20x20" ), "https://twitter.com/#!/#{page.user.try(:screen_name)}", target: "_blank", title: page.user.try(:screen_name) ) %></td>
    <td><%= page.group.try(:name) %></td>
    <td><%= page.title %></td>
    <td><%= link_to( t( "menu.show", default: "Show" ), action: "show", id: page.id ) %></td>
    <% if @group.is_owner?( session[:user_id] ) %>
    <td><%= link_to( t( "menu.edit", default: "Edit" ), action: "edit", id: page.id ) %></td>
    <td><%= link_to( t( "menu.destroy", default: "Delete" ), { action: "destroy", id: page.id }, data: { confirm: "本当に削除してよろしいですか？" } ) %></td>
    <% end %>
  </tr>
<% } %>
</table>

<br />

<% if @group.is_owner?( session[:user_id] ) %>
  <%= link_to t( "menu.new", default: "New" ), action: "new", group_id: @group.id %>
<% end %>

<br />
<br />

<%= link_to t( "menu.top", default: "Top" ), :root %>
