
<h3><%= @group.name %></h3>

<h1>New page</h1>

<%#= render 'form' %>
<%= form_for( :page, url: { action: "create", id: @page.try(:id), group_id: @group_id } ) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.radio_button :show_range , "private", { checked: true } %><%= f.label :show_range_private, "Private" %>
    <%= f.radio_button :show_range , "group" %><%= f.label :show_range_group, "Group" %>
    <%= f.radio_button :show_range , "public" %><%= f.label :show_range_public, "Public" %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, cols: 130, rows: 50, wrap: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t( "menu.create", default: "create" ), "data-disable-with" => t( "menu.create", default: "create" ) %>
  </div>
<% end %>

<%= link_to t( "menu.list", default: "List" ), action: "index" %>
