
<h3><%= @group.name %></h3>

<h1>New Page</h1>

<%= form_for( :page, url: { action: "create", id: @page.try(:id), group_id: @group_id } ) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.radio_button :permission , "private", { checked: true } %><%= f.label :permission_private, "Private" %>
    <%= f.radio_button :permission , "group" %><%= f.label :permission_group, "Group" %>
    <%= f.radio_button :permission , "public" %><%= f.label :permission_public, "Public" %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, wrap: "off", class: "span12", rows: 50 %>
  </div>

  <div class="actions">
    <%= f.submit t( "menu.create", default: "create" ), "data-disable-with" => t( "menu.create", default: "create" ) %>
  </div>
<% end %>

<%= link_to t( "menu.list", default: "List" ), action: "index" %>
