%p
  %b= @page.group.try(:name)
  = "=>"
  %b= link_to @page.title, page_path(@page)
= link_to t("menu.edit", default: "Edit"), edit_page_path(@page)
%hr/
%div.target_blank
  = raw markdown(@page.content)
%hr/
%br/
= link_to t("menu.edit", default: "Edit"), edit_page_path(@page)
|
= link_to t( "menu.destroy", default: "Delete"), page_path(@page), method: :delete, data: { confirm: "「#{@page.title}」を削除します。よろしいですか？" }
%br/
%br/
= link_to "MyLibrary", my_library_path(anchor: "group_#{@page.group_id}")
