
<p>
  <b><%= link_to( @page.group.try(:name), action: "index", group_id: @page.group.try(:id) ) %></b>
  => <b><%= link_to( @page.title, action: "show", id: @page.id ) %></b>
</p>

<p class="rage_<%= @page.permission %>">[<%= @page.permission %>]</p>

<p><%= link_to( "content", { action: "content", id: @page.id }, target: "_blank" ) %></p>

<br />

<% if @page.edit_ok?( session[:user_id], @page.group ) %>
  <%= link_to t( "menu.edit", default: "Edit" ), action: "edit", id: @page.id %>
   |
<% end %>

<%= link_to t( "menu.list", default: "List" ), action: "index", group_id: @page.group.try(:id) %>

<hr />
<%= raw show_markdown( @page.content ) %>
<hr />

<br />

<% if @page.edit_ok?( session[:user_id], @page.group ) %>
  <%= link_to t( "menu.edit", default: "Edit" ), action: "edit", id: @page.id %>
   |
<% end %>

<%= link_to t( "menu.list", default: "List" ), action: "index", group_id: @page.group.try(:id) %>

<br />
<br />

<% if @page.is_owner?( session[:user_id] ) %>
  <%= link_to "MyLibrary", controller: "my", action: "library", anchor: "group_#{@page.group_id}" %>
<% else %>
  <%= link_to "UserLibrary", controller: "users", action: "library", id: @page.user_id, anchor: "group_#{@page.group_id}" %>
<% end %>
