%ul.breadcrumb
  %li= link_to @page.group.try(:name), group_path(@page.group)
  %li= link_to @page.title, page_path(@page)

= link_to t("menu.edit", default: "Edit"), edit_page_path(@page), class: 'btn btn-primary'

%h1= @page.title

%hr/
%div.target_blank
  = raw markdown(@page.content)
%hr/

= link_to t("menu.edit", default: "Edit"), edit_page_path(@page), class: 'btn btn-primary'
= link_to t( "menu.destroy", default: "Delete"), page_path(@page), method: :delete, data: { confirm: "「#{@page.title}」を削除します。よろしいですか？" }, class: 'btn btn-danger'
%br/
%br/
= link_to "Group", group_path(@page.group_id), class: 'btn btn-default'
= link_to t("menu.top", default: "Top"), my_library_path, class: 'btn btn-default'
