<div class="row">
  <%# タイトル検索フォーム %>
  <%= form_tag( my_search_path, method: "get", class: "well form-search span6 offset3" ) do %>
    <%= hidden_field_tag( :search_type, "title" ) %>
    <%= text_field_tag :word, params[:word], class: "input-medium search-query span4" %>
    　<%= submit_tag "タイトル検索", class: "btn span2", "data-disable-with" => "タイトル検索" %>
  <% end %>
</div>

<div class="row">
  <%# 内容検索フォーム %>
  <%= form_tag( my_search_path, method: "get", class: "well form-search span6 offset3" ) do %>
    <%= hidden_field_tag( :search_type, "content" ) %>
    <%= text_field_tag :word, params[:word], class: "input-medium search-query span4" %>
    　<%= submit_tag "内容検索", class: "btn span2", "data-disable-with" => "内容検索" %>
  <% end %>
</div>
