
%div{ style: 'margin: 0px 0px 10px 0px;' }
  = form_tag my_search_path, method: 'get', class: 'form-horizontal'  do
    = hidden_field_tag :search_type, 'title'
    = text_field_tag :word, params[:word], class: 'form-control', style: 'float: left;'
    %span.text_search_box_submit
      = submit_tag 'タイトル検索', class: 'btn btn-primary', data: { disable_with: 'タイトル検索' }

%div{ style: 'margin: 0px 0px 10px 0px;' }
  = form_tag my_search_path, method: 'get', class: 'form-horizontal'  do
    = hidden_field_tag :search_type, 'content'
    = text_field_tag :word, params[:word], class: 'form-control', style: 'float: left;'
    %span.text_search_box_submit
      = submit_tag '内容検索', class: 'btn btn-primary', data: { disable_with: 'タイトル検索' }
