= render partial: 'search_box'

.search_box
  = form_for :group, url: groups_path, html: { class: 'form-horizontal' } do |f|
    .col-md-8
      = f.text_field :name, placeholder: 'Group Name', class: "form-control", style: 'float: left;'
    %span.text_search_box_submit
      = f.submit "検索", name: 'search', class: "btn btn-primary", data: { disable_with: "検索" }
      = f.submit "グループ作成", name: 'create', class: "btn btn-primary", data: { disable_with: "グループ作成" }

%ul.list-group
  - @groups.each do |group|
    .group_list
      = link_to group_path(group) do
        %li.list-group-item
          = group.name
