
<br />

<div class="row">
  <%# 検索フォーム %>
  <%= form_tag( my_search_path, method: "get", class: "well form-search span3 offset4" ) do %>
    <%= text_field_tag :word, nil, class: "input-medium search-query" %>
    <%= submit_tag "検索", class: "btn", "data-disable-with" => "検索" %>
  <% end %>
</div>

<br />

<div class="row">
  <%# グループ作成フォーム %>
  <%= form_for( :group, url: { action: "create_group" }, html: { class: "well form-search span4 offset4" } ) do |f| %>

    <%= f.label "Group" %>
    <%= f.text_field :name, class: "input-medium search-query" %>

    <%= f.submit "Add", class: "btn", "data-disable-with" => "Add" %>
  <% end %>
</div>

<ul class="nav nav-tabs nav-stacked">
<% @groups.each{ |group| %>
  <li class="row span6 offset3"><%= link_to( group.name, "#group_#{group.id}" ) %></li>
<% } %>
</ul>

<%# グループ一覧 %>
<% @groups.each{ |group| %>
<span id="group_<%= group.id %>"></span>

<div class="row span8 offset2" style="padding: 70px 0px 0px 0px;">
  <ul class="breadcrumb" id="group_<%#= group.id %>">
    <li>
      <h2 style="display: inline;"><%= link_to( group.name, { controller: "pages", group_id: group.id }, title: "Group" ) %></h2>
      <%= link_to( "E", { controller: "groups", action: "edit", id: group.id }, title: "Edit" ) %>
      <% if group.permission == "group" %>
        <%= link_to( "M", { controller: "groups", action: "members", id: group.id }, title: "Member" ) %>
      <% end %>
      <%= link_to( "D", { action: "delete_group", id: group.id }, title: "Delete", data: { confirm: "「#{group.name}」を削除します。よろしいですか？(紐付くPageも削除されます。)" } ) %></td>
      <%= link_to( "+", { controller: "pages", action: "new", group_id: group.id }, title: "New" ) %>
      <span class="rage_<%= group.permission %>">[<%= group.permission %>]</span>
    </li>
  </ul>
</div>

<ul class="nav nav-tabs nav-stacked">
  <%# ページ一覧 %>
  <% group.pages.each{ |page| %>
    <li class="row span8 offset2" style="padding: 10px 0px 10px 0px;">
      <%# Permission表示 %>
      <span class="rage_<%= page.permission %>">[<%= page.permission.slice(0..2) %>]</span>
      <%= link_to( page.title, { controller: "pages", action: "show", id: page.id }, style: "display: inline;" ) %>
      <%= link_to( "C", { controller: "pages", action: "content", id: page.id }, style: "display: inline;", title: "Content" ) %>
      <%= link_to( "E", { controller: "pages", action: "edit", id: page.id }, style: "display: inline;", title: "Edit" ) %>
      <%= link_to( "D", { controller: "pages", action: "destroy", id: page.id }, style: "display: inline;", title: "Delete", data: { confirm: "「#{page.title}」を削除します。よろしいですか？" } ) %>
    </li>
  <% } %>
</ul>
<% } %>

<br />
<br />

<%= link_to t( "menu.top", default: "Top" ), :root %>

