.container{ style: 'width: 600px' }
  .top_form
    = render partial: 'search_box'

  .top_form
    %div{ style: 'margin: 30px 0px 30px 0px;' }
      = form_for :group, url: groups_path, html: { class: 'form-horizontal' } do |f|
        = f.text_field :name, placeholder: 'Group Name', class: "form-control", style: 'float: left;'
        %span.text_search_box_submit
          = f.submit "Add", class: "btn btn-primary", data: { disable_with: "Add" }

  - # グループリンク一覧
  %ul.list-group.groups
    - @groups.each do |group|
      = link_to "#group_#{group.id}", class: 'list-group-item' do
        = group.name

- # グループ一覧
- @groups.each do |group|
  %span{ id: "group_#{group.id}" }
  %ul.breadcrumb{:id => "group_</haml:block><haml:silent></haml:silent><haml:block>"}
    %li
      %h2{:style => "display: inline;"}= group.name
      = link_to( "E", edit_group_path(group), title: "Edit" )
      = link_to "D", group_path(group), method: :delete, title: "Delete", data: { confirm: "「#{group.name}」グループを削除します。よろしいですか？(紐付くページも削除されます。)" }
      = link_to "+", new_page_path(group_id: group.id), title: "New"

  - # ページ一覧
  .container{ style: 'width: 700px' }
    %ul.list-group
      - group.pages.each do |page|
        %div{ style: 'margin: 0px 10px 10px 0px;' }
          = link_to page_path(page), style: "display: inline;" do
            %li.list-group-item{ style: 'width: 550px; float: left;' }
              = page.title
          %span{ style: 'text-align: right; margin: 0px 0px 0px 10px;' }
            = link_to "E", edit_page_path(page), style: "line-height: 24px;", class: 'btn btn-default', title: "Edit"
            = link_to "D", page_path(page), method: :delete, style: "line-height: 24px;", class: 'btn btn-default', title: "Delete", data: { confirm: "「#{page.title}」を削除します。よろしいですか？" }

= link_to t("menu.top", default: "Top"), :root
