<!DOCTYPE html>
<html>
<head>
  <title><%= APP_NAME %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<% if true %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to APP_NAME, { controller: "users", action: "library", id: session[:user_id] }, class: "brand" %></li>
      <% if current_user %>
        <%# ログイン済み %>
        <li><%= link_to_unless( current_user.screen_name.blank?, image_tag( current_user.image, size: "20x20" ), "https://twitter.com/#!/#{current_user.screen_name}", target: "_blank" ) %></li>
        <li class="<%= @active['users_library'] %>"><%= link_to( current_user.screen_name, { controller: "users", action: "library", id: session[:user_id] } ) %></li>
        <li class="<%= @active['users_index'] %>"><%= link_to( "Users", controller: "users", action: "index" ) %></li>
        <% if false %><li class="<%= @active['users_library'] %>"><%= link_to( "MyPages", controller: "users", action: "library", id: session[:user_id] ) %></li><% end %>
        <% if false %> | <%= link_to "MyGroups", controller: "groups", action: "index" %><% end %>
        <li><%= link_to( "Logout", logout_path ) %></li>
      <% else %>
        <%# 未ログイン %>
        <li><%= link_to "Login", "/auth/#{DEFAULT_PROVIDER}" %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<br />
<br />
<br />
<% end %>

<% if false %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li><%= link_to APP_NAME, { controller: "users", action: "library", id: session[:user_id] }, class: "brand" %></li>
          <li class="active"><a href="#">Home</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">Link</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">Link</a></li>
          <li class="divider-vertical"></li>
        </ul>
      </div>

    </div>
  </div>
</div>
<br />
<br />
<br />
<% end %>


<div class="container">

<% if false %>
<%# ----- 追加 ----- %>
<% if current_user %>
  <%# ログイン済み %>
  <%= link_to_unless( current_user.screen_name.blank?, image_tag( current_user.image, size: "20x20" ), "https://twitter.com/#!/#{current_user.screen_name}", target: "_blank" ) %>
  <%= current_user.screen_name %> :
   | <%= link_to "Users", controller: "users", action: "index" %>
   | <%= link_to "MyPages", controller: "users", action: "library", id: session[:user_id] %>
  <% if false %> | <%= link_to "MyGroups", controller: "groups", action: "index" %><% end %>
   || <%= link_to "Logout", logout_path %>
<% else %>
  <%# 未ログイン %>
  <%= link_to "Login", "/auth/#{DEFAULT_PROVIDER}" %>
<% end %>

<br />
<% end %>

<%# 通知／エラーメッセージ %>
<%= simple_format( flash[:notice], style: "color: green;" ) unless flash[:notice].blank? %>
<%= simple_format( flash[:alert], style: "color: red;" ) unless flash[:alert].blank? %>
<%# ----- ／追加 ----- %>

<%= yield %>

<br />
<br />

<center>
  Developed by <a href="https://twitter.com/#!/shu_0115/" target="_blank">shu_0115</a>,
  Designed by <a href="https://twitter.com/#!/DESIGNER_ID/" target="_blank">DESIGNER_NAME</a>,
  Licence by <a href="http://creativecommons.org/licenses/by-nc-sa/2.1/jp/" target="_blank">CC BY-NC-SA 2.1</a>
</center>

<br />

</div>

</body>

</html>
