!!!
%html
  %head
    %title= @page.present? ? "#{@page.title} - #{APP_NAME}" : APP_NAME
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    .navbar.navbar-default.navbar-fixed-top
      .navbar-header
        = link_to Settings.app_name, :root, class: 'navbar-brand'
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          - unless session[:user_id].blank?
            %li= render partial: '/layouts/user_icon', locals: { user: current_user }
            %li{ class: (@active.blank? ? '' : @active['my_library']) }
              = link_to current_user.screen_name, my_library_path
            %li= link_to "Logout", logout_path
          - else
            %li= link_to "Login", "/auth/#{Settings.provider}"
    .container{ style: 'margin-top: 60px;' }
      = simple_format( flash[:notice], style: "color: green;" ) unless flash[:notice].blank?
      = simple_format( flash[:alert], style: "color: red;" ) unless flash[:alert].blank?
      = yield
      %br/
      %br/
      .text-center
        Developed by
        = link_to 'shu0115', 'https://github.com/shu0115', target: '_blank'
      %br
      %br
